.heading{
    background-color: aliceblue;
    color: pink;
    font-size: 32px;
    font-family: 'Times New Roman', Times, serif;
}

.heading .child {
    font-size: 20px;
}

.list{
    background-color: pink;
    color: aliceblue;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.image{
    height: auto;
    width: 310px;
}